doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title Document
		link(rel="stylesheet" href="build/default.min.css")
	body
		.io-container
			.io-container__main
				img.io-container__main-logo(src="img/indian_ocean_logo.png", alt='logo')
				.io-container__main-wrapper
					.io-container__main-wrapper-txt
						h1.io-container__main-wrapper-txt-h1 следуй нашим инструкциям
						h1.io-container__main-wrapper-txt-h2 инвестируй в валюту
						h1.io-container__main-wrapper-txt-h3 получай <strong> vip отдых</strong> на островах 
						h1.io-container__main-wrapper-txt-h4 в индийском океане
					.io-container__main-wrapper-box
						form.io-container__main-wrapper-box-form
							h2.io-container__main-wrapper-box-form-h-1 начинай торговать 
							h2.io-container__main-wrapper-box-form-h-2 прямо сейчас!
							input.io-container__input-txt(type=text, placeholder="Имя")
							input.io-container__input-email(type=email, placeholder="E-mail")
							input.io-container__input-phone(type=phone, placeholder="Телефон")
							button.io-container__input-button Начать
			//- .clearfix
			.io-container__footer
				.io-container__footer-wrapper
					img.io-container__footer-wrapper-img(src="img/1.png")
					img.io-container__footer-wrapper-img(src="img/2.png")
					img.io-container__footer-wrapper-img(src="img/3.png")
					img.io-container__footer-wrapper-img(src="img/4.png")
					img.io-container__footer-wrapper-img(src="img/5.png")
					img.io-container__footer-wrapper-img(src="img/6.png")
				.io-container__footer-txt Предупреждение: торговля финансовыми инструментами является рискованным видом деятельности и может принести не только прибыль, но и убытки.